fastapi==0.124.0
pydantic==2.12.5
pydantic-core==2.41.5
uvicorn[standard]==0.38.0
uvloop==0.22.1 ; sys_platform != 'win32'
httptools==0.7.1
SQLAlchemy==2.0.44
python-dotenv==1.2.1
typing-extensions==4.15.0